<%- include('partials/header') %>

<div class="container">
    <h1 class="about-title"><big><big>HDYFA = How Do You Feel About</big></big></h1>
    <h2 class="about-body">Welcome to HDYFA, where we love hot topics and hot takes.</h2>
    <hr>
    <div>
        <h3>HOW THIS WORKS:</h3>
        <p>Want to know what everyone thinks about something? Post a <strong>Hot Topic</strong></p>
        <p>Have some opinions you want to share? Comment your <strong>Hot Take</strong> on a topic</p>
        <p>Not a sharer? Browse existing <strong>Hot Topics</strong> and read some <strong>Hot Takes</strong> from other users</p>
        <p>Be respectful! Let's not get rude.</p>
    </div>
    <hr>
    <div>
        <h3>FAQ's</h3>
        <p><strong>What is a Hot Topic?</strong></p>
        <p>It's a topic that is relevant to one person or many people. It's something people want to talk about.</p>
        
        <p><strong>What is a Hot Take?</strong></p>
        <p>An opinion that might be interesting, unique, or even controversial.</p>
        
        <p><strong>What's your policy on Hot Takes?</strong></p>
        <p>We believe everyone should be able to share their opinions in a respectful manner. We love to hear from different perspectives on fun topics that warrant opinions. We do not condone Hot Topics or Hot Takes that promote racism, sexism, abilism, or any other kind of discrimination towards marginalized groups of people.</p>
        
        <p><strong>What can I do if I come across an offensive Hot Topic or Hot Take?</strong></p>
        <p>You may report it by clicking on the "report" link under each post.</p>
        
        <p><strong>What can I do if I come across Hot Takes I don't agree with?</strong></p>
        <p>If the post isn't inciting racism, sexism, abilism, or any other discrimination towards marginalized groups of people, then it doesn't violate our policies. Unfortunately, you will have to not read it and move on with your life.</p>
        
        <p><strong>Can I delete Hot Takes on my Hot Topic if I don't agree with them?</strong></p>
        <p>Unfortunately, you may only delete your own Hot Topics and Hot Takes. If you believe that the post in question is offensive, please report it.</p>
    </div>
</div>




<%- include('partials/footer') %>