<%- include('partials/header') %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1 id="landing-title">HDYFA...</h1>
            <p>How do you feel about hot topics?</p>
            
        </div>
    </header>

</div>

<%- include('partials/footer') %>


