<%- include('partials/header') %>

<!-- Doesn't actually work, no email to send from. Just for show. -->
<!-- Idea: User enters email address linked to their account to receive an email with a temporary new password. Once they sign back in, they can change it to something else. -->

<div class="container">
    <div class="user-form">
        <div>
            <h1>Reset Password</h1>
        </div>
        
        <div>
            <form action="#" method="POST">
                <input type="text" name="email" placeholder="email">
                <input type="submit" value="Reset Password">
            </form>
        </div>
    
    </div>
    
</div>





<%- include('partials/footer') %>