body {
	background-color: #fff;
	font-family: "Montserrat", "Avenir";
	display: flex;
	flex-direction: column;
}

html,
body {
	height: 100%;
}

.thumbnail img {
	width: 100%;
}

.thumbnail {
	padding: 0;
}

.thumbnail .caption-full {
	padding: 9px;
}

ul {
	list-style-type: none;
}

li input {
	margin-bottom: 10px;
}

.form-error {
	color: red;
}

#delete-form {
	display: inline;
}

.row {
	display: flex;
}

.column {
	flex: 50%;
}

.profile-pic {
	border-radius: 50%;
	width: 300px;
}

.username-bg {
	color: white;
	background-color: #ee6f57;
	text-align: center;
	display: inline;
}

#profile-name {
	display: inline;
}

#user-bio {
	padding-top: 20px;
}

.heading-bg {
	color: white;
	background-color: #ee6f57;
	text-align: center;
}

.opinions-column {
	text-align: center;
	margin-top: 30px;
}

.user-info {
	text-align: center;
}

.footer {
	flex-shrink: 0;
	padding: 20px;
	text-align: center;
	position: fixed;
	align-items: center;
	bottom: 0;
	left: 0;
	width: 100%;
}

footer a {
	color: teal;
	text-decoration: none;
}

.profile-topics {
	padding-top: 5px;
}

.hot-takes {
	text-align: left;
}

.caption a {
	color: black;
}

.about-title {
	color: white;
	text-align: center;
	background-color: #37a59c;
	display: inline-block;
	width: 100%;
}

.about-body {
	text-align: center;
}
