.thumbnail img {
	width: 100%;
}

.thumbnail {
	padding: 0;
}

.thumbnail .caption-full {
	padding: 9px;
}

ul {
	list-style-type: none;
}

li input {
	margin-bottom: 10px;
}

.form-error {
	color: red;
}

#delete-form {
	display: inline;
}

.row {
	display: flex;
}

.column {
	flex: 50%;
}

.profile-pic {
	border-radius: 50%;
	width: 300px;
}

.opinions-header {
	text-align: center;
}

.opinions-header h1 {
	text-align: center;
	color: white;
	background-color: #37a59c;
	display: inline;
}

.opinions-header h3 {
	color: white;
	background-color: #37a59c;
	text-align: center;
	display: inline;
}

.user-info {
	text-align: center;
}
