body {
	background-color: #fff;
	font-family: "Montserrat", "Avenir";
	display: flex;
	flex-direction: column;
	height: 100vh;
}

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.jumbotron {
	background-color: #145374;
}

.container {
	margin: 0 auto;
	position: relative;
}

#page-heading {
	color: white;
	font-size: 100px;
}

#about-title {
	color: white;
	font-size: 60px;
	display: inline-block;
	width: 100%;
}

#about-subhead {
	color: #ee6f57;
}

.landing-page {
	background-color: #145374;
}

.landing {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

#landing-title {
	font-size: 200px;
	color: white;
	text-shadow: 1px 1px 3px #000;
	display: flex;
	align-items: center;
	justify-content: center;
}

.landing-buttons {
	display: flex;
	justify-content: center;
}

.landing-btn {
	margin: 0px 20px;
}

.user-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.register-form {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
}

#forgot-pw {
	margin-top: 10px;
}

label {
	margin-right: 10px;
}

.thumbnail img {
	width: 100%;
}

.thumbnail {
	padding: 0;
}

.thumbnail .caption-full {
	padding: 9px;
}

ul {
	list-style-type: none;
}

li input {
	margin-bottom: 10px;
}

.form-error {
	color: red;
}

#delete-form {
	display: inline;
}

.row {
	display: flex;
}

.column {
	flex: 50%;
}

.profile-pic {
	border-radius: 50%;
	width: 300px;
}

.profile-pic-div {
	margin-bottom: 30px;
}

.username-bg {
	color: white;
	background-color: #ee6f57;
	text-align: center;
	display: inline;
}

#profile-name {
	display: inline;
}

#user-bio {
	padding-top: 20px;
}

.heading-bg {
	color: white;
	background-color: #ee6f57;
	text-align: center;
}

.opinions-column {
	text-align: center;
	margin-top: 30px;
}

.user-info {
	text-align: center;
}

footer {
	min-height: 50px;
	margin-top: auto;
	padding: 20px;
	text-align: center;
}

footer a {
	color: teal;
	text-decoration: none;
}

.profile-topics {
	padding-top: 5px;
}

.hot-takes {
	text-align: left;
}

.caption a {
	color: black;
}

.profile-hottopics {
	margin-bottom: 50px;
}
